* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --egg-shell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

body {
  background-color: rgb(247, 191, 227);
  color: var(--wenge-brown);
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.4;
  display: grid;
  place-content: center;
}
.navbar {
  background-color:  #f88897;
  width: 100%;
  height: 60px;
  color: white;
  position: relative;
  top: 0;
}

.navbar-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  margin: auto;
  justify-content: space-between;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}
h1 {
  color: var(--dark-charcoal);
  font-size: 2.8rem;
  font-weight: bold;
}
h2 {
  color: var(--nutmeg);
  font-size: 1rem;
}
.recipe-step {
  margin: 1rem 0;
}
.nutrition-step {
  margin-top: 1rem;
}
ul {
  padding-left: 1.25rem;
}
ul li {
  color: var(--nutmeg);
  font-weight: bold;
}
ul li {
  margin-bottom: 0.5rem;
}
ul li span {
  color: var(--wenge-brown);
  margin-left: 1rem;
  font-weight: 700;
}
hr {
  margin: 1.5rem 0;
  border: 1px solid var(--light-grey);
}
.conteiner {
  max-width: 800px;
  background-color: var(white);
  margin: 2rem;
  border-radius: 1rem;
}
.conteiner .recipe-img {
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.conteiner .recipe-img img {
  border-radius: 1rem;
}
.recipe-information {
  padding: 0rem 2rem 2rem 2rem;
}
.description {
  margin: 1.5rem 0;
}
.recipe-prep-time {
  background-color: var(--rose-white);
  padding: 1.25rem;
  border-radius: 1rem;
}
.recipe-prep-time h3 {
  color: var(--dark-raspberry);
  margin-bottom: 0.75rem;
}
.recipe-prep-time ul li::marker {
  color: var(--dark-raspberry);
}
.ingredients li {
  margin-bottom: 0.5rem;
}
.ingredientsli span {
  font-weight: initial;
}
.instructions .item {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
}
.instructions .item .num {
  color: var(--nutmeg);
  margin-left: 1rem;
  font-weight: 700;
}
.instructions .item p span {
  font-weight: 700;
}
@media (max-width: 540px) {
  h1 {
    margin-top: 2rem;
  }
  .conteiner {
    margin: 0;
  }
  .conteiner .recipe-img {
    padding: 0;
    border-radius: 0;
  }
  .conteiner .recipe-img img {
    border-radius: 0;
  }
}
